### QTM 350 Project
### Looking at the Global NOAA dataset

##### by Karoline Lin, Rachel Shanahan, John Cox, Erin O'Reilly, Hayley Roesler
##### on April 23, 2020

##### For our data science project, we decided to look at the NOAA-ids dataset found on AWS's open data registry. This dataset looks at

In [2]:
import boto3
import botocore
import pandas as pd
from IPython.display import display, Markdown

In [3]:
s3 = boto3.client('s3')
s3_resource = boto3.resource('s3')

In [4]:
def create_bucket(bucket):
    import logging

    try:
        s3.create_bucket(Bucket=bucket)
    except botocore.exceptions.ClientError as e:
        logging.error(e)
        return 'Bucket ' + bucket + ' could not be created.'
    return 'Created or already exists ' + bucket + ' bucket.'

In [5]:
create_bucket('open-data-analytics-noaa-global')

ERROR:root:An error occurred (BucketAlreadyExists) when calling the CreateBucket operation: The requested bucket name is not available. The bucket namespace is shared by all users of the system. Please select a different name and try again.

'Bucket open-data-analytics-noaa-global could not be created.'

In [6]:
def list_buckets(match=''):
    response = s3.list_buckets()
    if match:
        print(f'Existing buckets containing "{match}" string:')
    else:
        print('All existing buckets:')
    for bucket in response['Buckets']:
        if match:
            if match in bucket["Name"]:
                print(f'  {bucket["Name"]}')

In [7]:
list_buckets(match='open')

Existing buckets containing "open" string:

In [8]:
def list_bucket_contents(bucket, match='', size_mb=0):
    bucket_resource = s3_resource.Bucket(bucket)
    total_size_gb = 0
    total_files = 0
    match_size_gb = 0
    match_files = 0
    for key in bucket_resource.objects.all():
        key_size_mb = key.size/1024/1024
        total_size_gb += key_size_mb
        total_files += 1
        list_check = False
        if not match:
            list_check = True
        elif match in key.key:
            list_check = True
        if list_check and not size_mb:
            match_files += 1
            match_size_gb += key_size_mb
            print(f'{key.key} ({key_size_mb:3.0f}MB)')
        elif list_check and key_size_mb <= size_mb:
            match_files += 1
            match_size_gb += key_size_mb
            print(f'{key.key} ({key_size_mb:3.0f}MB)')

    if match:
        print(f'Matched file size is {match_size_gb/1024:3.1f}GB with {match_files} files')            
    
    print(f'Bucket {bucket} total size is {total_size_gb/1024:3.1f}GB with {total_files} files')

In [64]:
#str(list_bucket_contents(bucket='noaa-global-hourly-pds', match='2019/22019099999', size_mb=250)).split()
#this command above lists the contents and data size of each bucket; we put this command in markdown for now as it produces a huge number of CSV files, from which we chose two

In [10]:
def preview_csv_dataset(bucket, key, rows=10):
    data_source = {
            'Bucket': bucket,
            'Key': key
        }
    # Generate the URL to get Key from Bucket
    url = s3.generate_presigned_url(
        ClientMethod = 'get_object',
        Params = data_source
    )

    data = pd.read_csv(url, nrows=rows)
    return data

In [65]:
#preview_csv_dataset(bucket='noaa-global-hourly-pds', key='1930/99999996409.csv', rows=100)

In [97]:
######## NEW STUFF:
# starting data frame: station 62019099999, year 1950

df = preview_csv_dataset(bucket='noaa-global-hourly-pds', key= '1950/62019099999.csv', rows=100)
# create new column for year
df['YEAR'] = '1950'

In [98]:
# Looking at station 62019099999
# Combine every 10 years of station's data
year_list = [1960, 1973, 1980, 1990, 2000, 2010, 2020]
for year in year_list:
    df_temp = preview_csv_dataset(bucket='noaa-global-hourly-pds', key= str(year) + '/62019099999.csv', rows=100)
    df_temp['YEAR'] = str(year)
    df = pd.concat([df, df_temp])

/home/ec2-user/anaconda3/envs/amazonei_tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [100]:
# clean up columns to eventually compare this station's data by year
columns = ['STATION', 'DATE', 'YEAR', 'SOURCE','LATITUDE','LONGITUDE','TMP','ELEVATION','WND','NAME']
df = pd.DataFrame(df, columns = columns)
df

,STATION,DATE,YEAR,SOURCE,LATITUDE,LONGITUDE,TMP,ELEVATION,WND,NAME
0,62019099999,1950-01-03T12:00:00,1950,4,31.2,16.583333,"+0178,1",14.0,"270,1,N,0026,1","SIRTE, LY"
1,62019099999,1950-01-04T12:00:00,1950,4,31.2,16.583333,"+0167,1",14.0,"290,1,N,0067,1","SIRTE, LY"
2,62019099999,1950-01-06T12:00:00,1950,4,31.2,16.583333,"+0144,1",14.0,"110,1,N,0046,1","SIRTE, LY"
3,62019099999,1950-01-08T12:00:00,1950,4,31.2,16.583333,"+0189,1",14.0,"340,1,N,0046,1","SIRTE, LY"
4,62019099999,1950-01-09T12:00:00,1950,4,31.2,16.583333,"+0161,1",14.0,"230,1,N,0010,1","SIRTE, LY"
5,62019099999,1950-01-11T12:00:00,1950,4,31.2,16.583333,"+0267,1",14.0,"080,1,N,0026,1","SIRTE, LY"
6,62019099999,1950-01-12T12:00:00,1950,4,31.2,16.583333,"+0172,1",14.0,"310,1,N,0010,1","SIRTE, LY"
7,62019099999,1950-01-13T12:00:00,1950,4,31.2,16.583333,"+0172,1",14.0,"050,1,N,0031,1","SIRTE, LY"
8,62019099999,1950-01-17T12:00:00,1950,4,31.2,16.583333,"+0161,1",14.0,"200,1,N,0046,1","SIRTE, LY"
9,62019099999,1950-01-18T12:00:00,1950,4,31.2,16.583333,"+9999,9",14.0,"160,1,N,0026,1","SIRTE, LY"
10,62019099999,1950-01-19T12:00:00,1950,4,31.2,16.583333,"+0150,1",14.0,"999,9,9,9999,9","SIRTE, LY"
11,62019099999,1950-01-21T12:00:00,1950,4,31.2,16.583333,"+0128,1",14.0,"290,1,N,0026,1","SIRTE, LY"
12,62019099999,1950-01-24T12:00:00,1950,4,31.2,16.583333,"+0189,1",14.0,"230,1,N,0010,1","SIRTE, LY"
13,62019099999,1950-01-25T12:00:00,1950,4,31.2,16.583333,"+0161,1",14.0,"340,1,N,0051,1","SIRTE, LY"
14,62019099999,1950-01-27T12:00:00,1950,4,31.2,16.583333,"+0183,1",14.0,"110,1,N,0026,1","SIRTE, LY"
15,62019099999,1950-01-28T12:00:00,1950,4,31.2,16.583333,"+0189,1",14.0,"230,1,N,0015,1","SIRTE, LY"
16,62019099999,1950-01-29T12:00:00,1950,4,31.2,16.583333,"+0161,1",14.0,"270,1,N,0046,1","SIRTE, LY"
17,62019099999,1950-01-30T12:00:00,1950,4,31.2,16.583333,"+0156,1",14.0,"160,1,N,0010,1","SIRTE, LY"
18,62019099999,1950-01-31T12:00:00,1950,4,31.2,16.583333,"+0172,1",14.0,"090,1,N,0026,1","SIRTE, LY"
19,62019099999,1950-02-01T12:00:00,1950,4,31.2,16.583333,"+0150,1",14.0,"360,1,N,0062,1","SIRTE, LY"
20,62019099999,1950-02-02T12:00:00,1950,4,31.2,16.583333,"+0183,1",14.0,"130,1,N,0010,1","SIRTE, LY"
21,62019099999,1950-02-04T12:00:00,1950,4,31.2,16.583333,"+0139,1",14.0,"160,1,N,0015,1","SIRTE, LY"
22,62019099999,1950-02-05T12:00:00,1950,4,31.2,16.583333,"+0161,1",14.0,"310,1,N,0010,1","SIRTE, LY"
23,62019099999,1950-02-06T12:00:00,1950,4,31.2,16.583333,"+0178,1",14.0,"230,1,N,0046,1","SIRTE, LY"
24,62019099999,1950-02-12T12:00:00,1950,4,31.2,16.583333,"+0244,1",14.0,"310,1,N,0021,1","SIRTE, LY"
25,62019099999,1950-02-13T12:00:00,1950,4,31.2,16.583333,"+9999,9",14.0,"360,1,N,0015,1","SIRTE, LY"
26,62019099999,1950-02-14T12:00:00,1950,4,31.2,16.583333,"+0222,1",14.0,"180,1,N,0010,1","SIRTE, LY"
27,62019099999,1950-02-17T12:00:00,1950,4,31.2,16.583333,"+0172,1",14.0,"110,1,N,0010,1","SIRTE, LY"
28,62019099999,1950-02-19T12:00:00,1950,4,31.2,16.583333,"+0161,1",14.0,"340,1,N,0015,1","SIRTE, LY"
29,62019099999,1950-02-20T12:00:00,1950,4,31.2,16.583333,"+0172,1",14.0,"310,1,N,0046,1","SIRTE, LY"
...,...,...,...,...,...,...,...,...,...,...
70,62019099999,2020-02-03T15:00:00,2020,4,31.2,16.583333,"+0194,1",14.0,"999,9,C,0000,1","SIRTE, LY"
71,62019099999,2020-02-04T09:00:00,2020,4,31.2,16.583333,"+0176,1",14.0,"999,9,C,0000,1","SIRTE, LY"
72,62019099999,2020-02-04T12:00:00,2020,4,31.2,16.583333,"+0205,1",14.0,"999,9,C,0000,1","SIRTE, LY"
73,62019099999,2020-02-04T15:00:00,2020,4,31.2,16.583333,"+0200,1",14.0,"999,9,C,0000,1","SIRTE, LY"
74,62019099999,2020-02-05T09:00:00,2020,4,31.2,16.583333,"+0164,1",14.0,"999,9,C,0000,1","SIRTE, LY"
75,62019099999,2020-02-06T09:00:00,2020,4,31.2,16.583333,"+0135,1",14.0,"999,9,C,0000,1","SIRTE, LY"
76,62019099999,2020-02-06T12:00:00,2020,4,31.2,16.583333,"+0139,1",14.0,"999,9,C,0000,1","SIRTE, LY"
77,62019099999,2020-02-06T15:00:00,2020,4,31.2,16.583333,"+0155,1",14.0,"999,9,C,0000,1","SIRTE, LY"
78,62019099999,2020-02-09T09:00:00,2020,4,31.2,16.583333,"+0135,1",14.0,"999,9,C,0000,1","SIRTE, LY"
79,62019099999,2020-02-10T09:00:00,2020,4,31.2,16.583333,"+0142,1",14.0,"999,9,C,0000,1","SIRTE, LY"
80,62019099999,2020-02-10T12:00:00,2020,4,31.2,16.583333,"+0203,1",14.0,"999,9,C,0000,1","SIRTE, LY"
81,62019099999,2020-02-10T15:00:00,2020,4,31.2,16.583333,"+0200,1",14.0,"999,9,C,0000,1","SIRTE, LY"
82,62019099999,2020-02-11T09:00:00,2020,4,31.2,16.583333,"+0155,1",14.0,"999,9,C,0000,1","SIRTE, LY"
83,62019099999,2020-02-11T12:00:00,2020,4,31.2,16.583333,"+0202,1",14.0,"999,9,C,0000,1","SIRTE, LY"
84,62019099999,2020-02-11T15:00:00,2020,4,31.2,16.583333,"+0210,1",14.0,"999,9,C,0000,1","SIRTE, LY"
85,62019099999,2020-02-11T18:00:00,2020,4,31.2,16.583333,"+0185,1",14.0,"999,9,C,0000,1","SIRTE, LY"
86,62019099999,2020-02-12T06:00:00,2020,4,31.2,16.583333,"+0110,1",14.0,"999,9,C,0000,1","SIRTE, LY"
87,62019099999,2020-02-12T09:00:00,2020,4,31.2,16.583333,"+0165,1",14.0,"999,9,C,0000,1","SIRTE, LY"
88,62019099999,2020-02-12T12:00:00,2020,4,31.2,16.583333,"+0210,1",14.0,"999,9,C,0000,1","SIRTE, LY"
89,62019099999,2020-02-12T15:00:00,2020,4,31.2,16.583333,"+0200,1",14.0,"999,9,C,0000,1","SIRTE, LY"
90,62019099999,2020-02-12T18:00:00,2020,4,31.2,16.583333,"+0180,1",14.0,"999,9,C,0000,1","SIRTE, LY"
91,62019099999,2020-02-13T09:00:00,2020,4,31.2,16.583333,"+0150,1",14.0,"999,9,C,0000,1","SIRTE, LY"
92,62019099999,2020-02-13T12:00:00,2020,4,31.2,16.583333,"+0178,1",14.0,"999,9,C,0000,1","SIRTE, LY"
93,62019099999,2020-02-13T15:00:00,2020,4,31.2,16.583333,"+0175,1",14.0,"999,9,C,0000,1","SIRTE, LY"
94,62019099999,2020-02-13T18:00:00,2020,4,31.2,16.583333,"+0166,1",14.0,"999,9,C,0000,1","SIRTE, LY"
95,62019099999,2020-02-14T09:00:00,2020,4,31.2,16.583333,"+0175,1",14.0,"999,9,C,0000,1","SIRTE, LY"
96,62019099999,2020-02-14T12:00:00,2020,4,31.2,16.583333,"+0195,1",14.0,"999,9,C,0000,1","SIRTE, LY"
97,62019099999,2020-02-14T15:00:00,2020,4,31.2,16.583333,"+0209,1",14.0,"999,9,C,0000,1","SIRTE, LY"
98,62019099999,2020-02-14T18:00:00,2020,4,31.2,16.583333,"+0171,1",14.0,"999,9,C,0000,1","SIRTE, LY"
99,62019099999,2020-02-15T06:00:00,2020,4,31.2,16.583333,"+0164,1",14.0,"999,9,C,0000,1","SIRTE, LY"

In [101]:
df.describe()

            STATION  SOURCE      LATITUDE     LONGITUDE  ELEVATION
count  8.000000e+02   800.0  8.000000e+02  8.000000e+02      800.0
mean   6.201910e+10     4.0  3.120000e+01  1.658333e+01       14.0
std    0.000000e+00     0.0  4.479220e-13  3.021696e-13        0.0
min    6.201910e+10     4.0  3.120000e+01  1.658333e+01       14.0
25%    6.201910e+10     4.0  3.120000e+01  1.658333e+01       14.0
50%    6.201910e+10     4.0  3.120000e+01  1.658333e+01       14.0
75%    6.201910e+10     4.0  3.120000e+01  1.658333e+01       14.0
max    6.201910e+10     4.0  3.120000e+01  1.658333e+01       14.0